html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.resume-wrap {
  height: 1132px;
  width: 803px;
  display: flex;
  justify-content: center;
}

/*
.header-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  background-color: #f1f1f1;
} */

/* 
.p__reduce-width {
  width: 600px;
  margin: 0;
}

.p__color-change {
  color: blue;
  margin: 100px;
  border: 3px solid #000;
  padding: 55px;
} */
