html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}

.flex-warp {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.main-wrap {
  height: 100vh;
}

.headerwrap {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.bgmain {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(Images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}
.mainnav {
  display: flex;
  float: right;
  list-style: none;
}
.mainnav ul {
  display: flex;
  margin-top: 55px;
}
.mainnav ul li {
  list-style: none;
  margin-left: 40px;
  text-transform: uppercase;
}
.mainnav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 100;
  padding-bottom: 10px;
}
.mainnav ul li a:hover {
  border-bottom: 2px solid #e67e22;
}
.landing__wrap {
  height: 70vh;
  display: flex;
  align-items: center;
}

.landing__fix h2 {
  color: #fff;
  font-weight: 200px;
}

.landing__fix button {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  padding: 10px 30px;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
}

.btn-trans {
  background-color: transparent !important;
  color: #e67e22 !important;
}

.btn-trans:hover {
  background-color: #a55916 !important;
  color: #fff !important;
}

.landing__fix button:hover {
  background-color: #a55916;
  /* transition: all ease-in 0.5s; */
  border: 1px solid #a55916;
}
/*About Section*/


  .aboutwrap {
    padding: 0 2%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: white;
  }
  
  .aboutmain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .line {
    width: 100px;
    border-bottom: 2px solid #e67e22;
  }
  .aboutheader h2 {
    text-transform: uppercase;
    font-weight: 300;
  }
  .aboutdesc {
    width: 55%;
    margin-bottom: 30px;
  }
  
  .aboutdesc p {
    text-align: justify;
  }
  .about-block-wrap {
    display: flex;
    justify-content: space-between;
  }
  
  .about-block-main {
    margin: 0px 20px;
    margin-bottom: 20px;
  }
  
  .about-block-icon {
    color: #e67e22;
    font-size: 30px;
  }
  
  .about-block-head h3 {
    font-weight: 300;
    text-transform: uppercase;
  }
  

  .image__content-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image__content-main {
    width: 25%;
    overflow: hidden;
  }
  
  .image__content-main img {
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    transition: all ease-in 0.3s;
  }
  
  .image__content-main img:hover {
    transform: scale(1);
  }
  .works-wrap{
    display:flex;
    padding:0 2%;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    font-weight: 300;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.line {
  width: 100px;
  border-bottom: 2px solid #e67e22;
  margin-bottom: 20px;
}
.works-main {
  display: flex;
  margin-top: 20px;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.works-image-wrap{
  display: flex;
  justify-content: flex-end;
}
.works-image-wrap img{
  width: 40%;
  margin-right: 80px;
  
}
.works-content-main {
  display: flex;
}
.works-content-number{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e67e22;
  color: #e67e22;
  border-radius: 50%;
  padding: 10px 20px;
  margin-right: 20px;
  margin-bottom: 20px
}
/* .works-image-wrap img {
  height: 50px;
  width: auto;
  margin-right: 30px;
} */
.works-content-main img{
height: 50px;
width: auto;
margin-right: 10px;
}

.aboutwrap {
  max-width: 1140px;
  margin: 0 auto;
  background-color: white;
}

.aboutmain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 100px;
  border-bottom: 2px solid #e67e22;
  margin-bottom: 20px;
  margin: 0 auto;
  margin-top: 30px;  
}
.aboutheader h2 {
  text-transform: uppercase;
  font-weight: 300;
}
.aboutdesc {
  width: 55%;
  margin-bottom: 30px;
}

.aboutdesc p {
  text-align: justify;
}
.about-block-wrap {
  display: flex;
  justify-content: space-between;
}

.about-block-main {
  margin: 0px 20px;
  margin-bottom: 20px;
}

.about-block-icon {
  color: #e67e22;
  font-size: 30px;
}

.about-block-head h3 {
  font-weight: 300;
  text-transform: uppercase;
}

.cities-wrap{
  padding: 60px 0;
}
.cities-wrap h2{
  color: #555;
  font-weight: 300%;
  font-family: 'Lato', 'Arial', sans-serif;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.cities-picture-main {
  display: flex;
  margin-top: 20px;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.cities-picture-main-style{
  padding: 20px;
  margin-top: 40px;
}
.cities-picture-main img{
  width: 100%;
  height: auto;
}
.cities-picture-main h3{
  font-size: 110%;
  margin-bottom: 15px;
  color: #555;
  }