html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bg__main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./img/hero.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.header-wrap {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  justify-content: space-between;
}

.header__logo-wrap img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.header__nav-wrap ul {
  display: flex;
  margin-top: 20px;
}

.header__nav-wrap ul li {
  list-style: none;
  margin-left: 40px;
}

.header__nav-wrap ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 100;
  padding-bottom: 10px;
}

.header__nav-wrap ul li a:hover {
  border-bottom: 2px solid #e67e22;
}

.landing__wrap {
  height: 70vh;
  display: flex;
  align-items: center;
}

.landing__fix h2 {
  color: #fff;
  font-weight: 100;
}

.landing__fix button {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  padding: 10px 30px;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
}

.btn-trans {
  background-color: transparent !important;
  color: #e67e22 !important;
}

.btn-trans:hover {
  background-color: #a55916 !important;
  color: #fff !important;
}

.landing__fix button:hover {
  background-color: #a55916;
  /* transition: all ease-in 0.5s; */
  border: 1px solid #a55916;
}

/************************************
About Us
*************************************/

.about___wrap {
  max-width: 1140px;
  margin: 0 auto;
}

.about__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 100px;
  border-bottom: 2px solid #e67e22;
  margin-bottom: 20px;
}

.about__header h2 {
  text-transform: uppercase;
  font-weight: 300;
}

.about__desc {
  width: 55%;
  margin-bottom: 30px;
}

.about__desc p {
  text-align: justify;
}

.about__block-wrap {
  display: flex;
  justify-content: space-between;
}

.about__block-main {
  margin: 0px 20px;
  margin-bottom: 20px;
}

.about__block-icon {
  color: #e67e22;
  font-size: 30px;
}

.about__block-head h3 {
  font-weight: 300;
  text-transform: uppercase;
}

.image__content-wrap {
  display: flex;
  flex-wrap: wrap;
}

.image__content-main {
  width: 25%;
  overflow: hidden;
}

.image__content-main img {
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  transition: all ease-in 0.3s;
}

.image__content-main img:hover {
  transform: scale(1);
}

.works__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  font-weight: 300;
}

.works__main {
  display: flex;
  margin-top: 20px;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.works__image-wrap {
  display: flex;
  justify-content: flex-end;
}

.works__image-wrap img {
  width: 40%;
  margin-right: 80px;
}

.works__content-main {
  display: flex;
}

.works__content-number {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e67e22;
  color: #e67e22;
  border-radius: 50%;
  padding: 10px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.works__content-main img {
  height: 50px;
  width: auto;
  margin-right: 30px;
}
